.App {
  text-align: center;
}

#filterForm .MuiFormControl-root {
  margin-right: 2vw;
  min-width: 70px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.navbar-nav a {
  padding: 10px;
}